<!DOCTYPE HTML> 
<html> 
    <head> 
        <style>
            .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
            p { 
            text-align: center; 
            font-size: 60px; 
            font-family: Arial, sans-serif;
            } 
        </style> 
        <title>CHUC MUNG NAM MOI !</title>
        <link rel="icon" type="image/png" href="/public/image/297424537277211.png">
    </head> 
    <body>
        <audio class="center" controls autoplay loop>  
            <source src="public/audio/UGOTThat-Halogen.mp3" type="audio/mpeg">  
        </audio>  
        <img src="public/image/download.jpeg" width="500" height="333" class="center">
        <div>
            <p> RICARDO CHUC BAN NAM MOI ZUI ZE !! </p>
        </div>
    </body> 
</html>